<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
</head>

<body>

<!-- Navbar 
<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
     <!-- <img class="logo" src="./assets/logo.png" > 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->

<!-- new var -->


  <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
    <nav> 
        <!--social-links-and-phone-number----------------->
 <div class="social-call">
     <!--social-links--->
     <div class="social">
         <a href="#"><i class="fab fa-facebook-f"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-youtube"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
     </div>
     <!--phone-number------>
     <div class="phone">
         <span>Call: +123456789</span>
     </div>
 </div>
 <!--menu-bar----------------------------------------->
 <div class="navigation">
     <!--logo------------>
    
     <!--menu-icon------------->
     <div class="toggle"></div>
     <!--menu----------------->
     <ul class="menu">
         <li><a href="#">Home</a></li>
         <li  class="shop"><a href="#" >Shop</a></li>
         <li><a href="#">about-us</a>
             <!--lable---->
             <!-- <span class="sale-lable">Login</span> -->
         </li>
         <li><a href="/l">Login</a></li>
          <li><a href="/r">Registration</a></li>
          <li><a href="/p">Add Product</a></li>
          <li><a href="/u">Add Customer</a></li>
        <!--   <li><a href="#">Women</a></li>
         <li><a href="#">Kids</a></li>-->
     </ul>
     <!--right-menu----------->
     <div class="right-menu">
         <a href="javascript:void(0);" class="search">
             <i class="fas fa-search"></i>
         </a>
         <a href="javascript:void(0);" class="user">
             <i class="far fa-user"></i>
         </a>
         <a href="#">
             <i class="fas fa-shopping-cart"></i>
                
         </a>
     </div>
     </div>
 </nav>



</div>-->
<!-- product item -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="code.css">
</head>
<body>
<section class="new-arrival">
            
    <!--heading-------->
    <div class="arrival-heading">
        <strong>New Arrival</strong>
        <p>We Provide You New Handmade Design Material At Best Prices</p>
    </div>
      <!--products----------------------->
      <div class="product-container">
          
        <!--product-box-1---------->
          <div class="product-box">
              <!--product-img------------>
              <div class="product-img">
                  <!--add-cart---->
                  <a href="#" class="add-cart">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  <!--img------>
                <img src ="../static/Img/img1.jpg" width="1000" th:src="@{Img/img1.jpg}"/>
              </div>
              <!--product-details-------->
              <div class="product-details">
                  <a href="#" class="p-name">Swan in the sea creative handmade ring handmade rings</a>
                  <span class="p-price">500.00</span>
              </div>
          </div>
            <!--product-box-2---------->
            <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                  <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                  <!--img------>
                  <img src ="../static/Img/img2.jpg" width="1000" th:src="@{Img/img2.jpg}"/>
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Lotus Design |Handmade Ring|</a>
                    <span class="p-price">1000.00</span>
                </div>
            </div>
          <!--product-box-3---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
              <img src ="../static/Img/img3.jpg" width="1000" th:src="@{Img/img3.jpg}"/>
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">DIY Handmade creative Assembly New Item Puzzle House Doll</a>
                <span class="p-price">1300.00</span>
            </div>
        </div>
          <!--product-box-4---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
               <img src ="../static/Img/img4.jpg" width="1000" th:src="@{Img/img4.jpg}"/>
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Homemade gift item</a>
                <span class="p-2.jpg">900.00</span>
            </div>
        </div>
          <!--product-box-5---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
               <img src ="../static/Img/img5.jpg" width="1000" th:src="@{Img/img5.jpg}"/>
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Auressa Wall Hanging Buy Auressa at best prices</a>
                <span class="p-price">600.00</span>
            </div>
        </div>
          <!--product-box-6---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
               <img src ="../static/Img/img6.jpg" width="1000" th:src="@{Img/img6.jpg}"/>
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Rajasthani designed showpiece</a>
                <span class="p-price">450.00</span>
            </div>
        </div>
          <!--product-box-7---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
               <img src ="../static/Img/img7.jpg" width="1000" th:src="@{Img/img7.jpg}"/>
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">ExclusiveLane Wooden handpainted & handmade Hanging Bells</a>
                <span class="p-price">350.00</span>
            </div>
        </div>
          <!--product-box-8---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <!--img------>
               <img src ="../static/Img/img8.jpg" width="1000" th:src="@{Img/img8.jpg}"/>
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Diya rangoli|Handmade Diya|Best Prices</a>
                <span class="p-price">700.00</span>
               
            </div>
        </div>
      </div>
  </section>
 <!-- <section class="footer">
  <img src ="../static/Img/logo1.jpg" width="1000" th:src="@{Img/logo1.jpg}"/>
  </section> --> 
</body>
</html>

    

<!-- new bar -->
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">-->
    <!--   <img src="static/img/shop5.jpg"  class="d-block w-100" alt="...">-->
       <!--  <img src ="../static/Img/shop5.jpg" width="1000" th:src="@{Img/shop5.jpg}"/>
    </div>
    <div class="carousel-item">-->
    <!--    <img src="static/img/shop2.jpg" class="d-block w-100" alt="...">-->
   <!--   <img src ="../static/Img/shop2.jpg" width="1000" th:src="@{Img/shop2.jpg}"/>
    </div>
    <div class="carousel-item">--> 
     <!--   <img src="static/img/shop4.jpg" class="d-block w-100" alt="...">-->
  <!--      <img src ="../static/Img/shop4.jpg" width="1000" th:src="@{Img/shop4.jpg}"/>
    </div>
  </div>
<!--</div>
<!--  <div class="image">
<img src ="../static/img/shop4.jpg" width="1000" th:src="@{images/shop4.jpg}"/>-->