<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>User Details</title>
</head>
<body>
<div align="center">
    <h1>User List</h1>
    <a href="/new1">Add New User</a>
   
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.Id}">User ID</td>
                <td th:text="${user.firstName}">Name</td>
                <td th:text="${user.Type}">Type</td>
                <td th:text="${user.password}">Password</td>
           
                <td><a th:href="@{/edit1/{Id}(Id=${user.Id})}">Edit</a></td>
                <td><a th:href="@{/delete1/{Id}(Id=${user.Id})}">Delete</a></td>
            </tr>
            
        </tbody>
    </table>
</div>   
</body>
</html>
